*{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	background: #F6F6FB;

}
.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 50% auto 5%;
}
.header{
	width: 100%;
	height: 100%;
	text-align: center;
}
.header>img{
	width: 200px;
	height: 38px;
	margin-top: 10px;
	background: none;
}
.top{

}
.bottom{
	text-align: center;
}
.footer{
	width: 100%;
	text-align: center;
}
.bottom #heading{
	width: auto;
	font-size: 100px;
	height: auto;
}

.bottom #description{
	width: 50%;
	height: auto;
	margin: 0 auto;
	background: rgba(1,1,1,0.8);
	color: white;
	font-size: 30px;
}

.top #plt{
	width: 50px;
	height: auto;
	position: absolute;	
	background: none;
	left: 35%;
	top: 15%;
	animation: planet 500s linear;
	z-index: 0;
}
.top #sat{
	width: 250px;
	height: auto;
	position: absolute;
	background: none;
	top: 15%;
	left: 60%;
	z-index: 1;
}
.top #ast{
	width: 100px;
	height: auto;
	position: absolute;
	top: 35%;
	left: 50%;	
	background: none;
	animation: fly 40s ease-out forwards;
	z-index: 1;
}

@keyframes fly{
	to{
		left:20%;
		transform: rotate(360deg);
	}
}

@keyframes planet{
	to{
		transform: rotate(-360deg);
	}
}



@media only screen and (max-width: 768px) {
	.container{
			grid-template-rows: 10% 40% auto 5%;
	}
	.top #plt{
		left: 30%;

	}
	.top #sat{
		left: 50%;

	}
	.top #ast{
		top: 28%;
		left: 35%;	


	}
	.bottom #heading{
		font-size: 150px;
	}
	.bottom #description{
		width: 70%;
		font-size: 40px;
	}
	.footer{
		font-size: larger;
	}

}

@media only screen and (max-width: 420px) {
	.container{
			grid-template-rows: 10% 30% auto 5%;
	}
	.top #plt{
		left: 30%;
		width: 25px;
	}
	.top #sat{
		left: 50%;
		width: 125px;
	}
	.top #ast{
		top: 25%;
		left: 35%;	
		width: 50px;
	}
	.bottom #heading{
		font-size: 100px;
	}
	.bottom #description{
		width: 70%;
		font-size: 30px;
	}
	.footer{
		font-size: smaller;
	}

}